.dots {
  composes: dots from '../../styles/sliderDots.module.css';
}

.dot {
  composes: dot from '../../styles/sliderDots.module.css';
}

.dotActive {
  composes: dotActive from '../../styles/sliderDots.module.css';
}
