.legal {
  display: grid;
  gap: var(--space-xs);
  font-family: var(--font-nav);
  font-stretch: 87.5%;
  color: var(--color-nav);
}

@media (min-width: 768px) {
  .legal {
    align-self: end;
    text-align: right;
  }
}
