.list {
  display: grid;
  gap: var(--space-sm);
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.value {
  font-family: var(--font-nav);
  font-stretch: 87.5%;
  color: var(--color-nav);
}
