.footer {
  position: relative;
  z-index: 2;
  border-top: 1px solid var(--color-border);
  padding-block: var(--space-xl) var(--space-2xl);
  background: var(--color-bg);
  font-family: var(--font-nav);
  font-stretch: 87.5%;
  color: var(--color-nav);
}

.inner {
  display: grid;
  gap: var(--space-xl);
}

@media (min-width: 768px) {
  .inner {
    grid-template-columns: 1fr auto;
    align-items: end;
  }
}
