.row {
  display: grid;
  gap: var(--space-xl);
  margin-bottom: var(--space-2xl);
}

@media (min-width: 900px) {
  .row {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    column-gap: var(--space-xl);
  }
}
