.dots {
  composes: dots from '../../styles/sliderDots.module.css';
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 8%;
  left: 0;
}

.dot {
  composes: dot from '../../styles/sliderDots.module.css';
}

.dotActive {
  composes: dotActive from '../../styles/sliderDots.module.css';
}
