.dots {
  composes: dots from '../../styles/sliderDots.module.css';
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: var(--space-sm);
  max-width: calc(100% - var(--space-md));
  transform: translateX(-50%);
}

.dot {
  composes: dot from '../../styles/sliderDots.module.css';
}

.dotActive {
  composes: dotActive from '../../styles/sliderDots.module.css';
}

@media (min-width: 768px) {
  .dots {
    bottom: var(--space-md);
  }
}
