.section {
  padding-block: var(--space-xl);
}

.list {
  display: grid;
  gap: var(--space-lg);
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: var(--space-lg);
  }
}
